name: Build KrMSG for macOS and Windows

on: [push, pull_request, workflow_dispatch]

jobs:
  build-mac:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.6.0'
          host: 'mac'
          target: 'desktop'

      - name: Configure CMake
        run: |
          mkdir -p build
          cd build
          cmake .. \
            -DCMAKE_BUILD_TYPE=Release \

      - name: Build
        run: |
          cd build
          cmake --build . --config Release

      - name: Deploy macOS app
        run: |
          cd build
          macdeployqt KrMSG.app -dmg

      - name: Upload macOS artifact
        uses: actions/upload-artifact@v4
        with:
          name: KrMSG-mac
          path: build/KrMSG.dmg

  build-windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.6.0'
          host: 'windows'
          target: 'desktop'
          arch: 'win64_msvc2019_64'

      - name: Configure CMake
        run: |
          mkdir build
          cd build
          cmake .. -G "Visual Studio 17 2022" -A x64 -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: |
          cd build
          cmake --build . --config Release

      - name: Deploy Windows app
        run: |
          cd build\Release
          windeployqt KrMSG.exe

      - name: Upload Windows artifact
        uses: actions/upload-artifact@v4
        with:
          name: KrMSG-windows
          path: build/Release/
  create-release:
    needs: [build-mac, build-windows]
    runs-on: ubuntu-latest
    steps:
      - name: Download macOS artifact
        uses: actions/download-artifact@v4
        with:
          name: KrMSG-mac
          path: dist

      - name: Download Windows artifact
        uses: actions/download-artifact@v4
        with:
          name: KrMSG-windows
          path: dist

      - name: Create GitHub Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v1.0
          name: KrMSG v1.0
          body: |
            Готовые бинарники для macOS и Windows!
            - macOS: KrMSG.dmg
            - Windows: KrMSG-windows.zip
          files: |
            dist/KrMSG.dmg
            dist/KrMSG-windows.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
