name: Build and Release KrMSG

on:
  push:
    tags:
        - 'v*'

jobs:
  build-mac:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.6.0'
          host: 'mac'
          target: 'desktop'
      - name: Build
        run: |
          mkdir build && cd build
          cmake .. -DCMAKE_BUILD_TYPE=Release
          cmake --build .
      - name: Deploy macOS
        run: |
          cd build
          macdeployqt KrMSG.app -dmg --strip
      - name: Upload macOS artifact
        uses: actions/upload-artifact@v4
        with:
          name: KrMSG-mac-dmg
          path: build/KrMSG.dmg

  build-windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.6.0'
          host: 'windows'
          target: 'desktop'
          arch: 'win64_msvc2019_64'
      - name: Build
        run: |
          mkdir build
          cd build
          cmake .. -G "Visual Studio 17 2022" -A x64 -DCMAKE_BUILD_TYPE=Release
          cmake --build . --config Release
      - name: Deploy Windows
        run: |
          cd build\Release
          windeployqt KrMSG.exe --release
      - name: Pack Windows into ZIP
        run: |
          cd build\Release
          powershell Compress-Archive -Path .\* -DestinationPath ..\KrMSG-windows.zip
      - name: Upload Windows artifact
        uses: actions/upload-artifact@v4
        with:
          name: KrMSG-windows-zip
          path: build/KrMSG-windows.zip

  create-release:
    needs: [build-mac, build-windows]
    runs-on: ubuntu-latest
    steps:
      - name: Download macOS artifact
        uses: actions/download-artifact@v4
        with:
          name: KrMSG-mac-dmg
          path: dist
      - name: Download Windows artifact
        uses: actions/download-artifact@v4
        with:
          name: KrMSG-windows-zip
          path: dist
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/KrMSG.dmg
            dist/KrMSG-windows.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
